h1{
    color:red;
}
h1 {
    text-align: center;
}
h1{
    font-family: helvetica;
}

.right {
    text-align: right;
   }
img {
    width: 200px;

}
.right1{
    float: right;
}
#red{
    color:red;
}
