#top{
    height: 180px;
    width: 840px;
    background-color: #0080ff;
    float: right;
    margin: 0;
    padding: 0;
    color: black;
    font-family: helvetica sans-serif ;
    font-size: 120px; 
    text-align: left; 
   
}

#bottom{
    height: 545px; 
    width: 840px;
    background-color: orange;
    float: right;
    margin-top: 5px;
    padding:0;
}
button{
   
    color: black;
    font-family: helvetica sans-serif ;
    font-size: 50px;
     border: none;
}
#column{
    height: 975px;
    width: 10px;
    background-color: purple;
  clear: right;
  margin: 0;
    padding: 0;
}
#wrapper{
    height: 1000px;
    width: 1200px;
    background-color: black;
    margin: auto;
    padding: 0;
}
body{
    background:black;
}
#truths{
    height: 170px;
    width: 350px;
    background-color: #3299ff;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin:0;
    padding: 0;
}
#hackone{
    height: 170px;
    width: 350px;
    background-color: #0080ff;
    margin: 0;
    padding: 0;
}
#hacktwo{
    height: 170px;
    width: 350px;
    background-color: #cce5ff;
    margin: 0;
    padding: 0;
}
#jokes{
    height: 170px;
    width: 350px;
    margin: 0;
    padding: 0;
    background-color: 	#66b2ff;
}
#quiz{
    height: 170px;
    width: 350px;
    background-color: 	#99ccff;
    margin: 0;
    padding: 0;
}
#footer{
    height: 290px;
    width: 1200px;
    background-color: #3299ff;
    margin-top: 5px;
    padding: 0;
} 

#list{
    list-style-type: none;    
}
