#top{
    height: 300px;
    width: 840px;
    background-color: blue;
    float: right;
    margin: 0;
    padding: 0;
}

#bottom{
    height: 560px;
    width: 840px;
    background-color: orange;
    float: right;
    margin-top: 5px;
    padding:0;
}
button{
    border: none;    
}
#column{
    height: 975px;
    width: 10px;
    background-color: purple;
  clear: right;
  margin: 0;
    padding: 0;
}
#wrapper{
    height: 1000px;
    width: 1200px;
    background-color: black;
    margin: 0;
    padding: 0;
}
#truths{
    height: 170px;
    width: 350px;
    background-color: yellow;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin:0;
    padding: 0;
}
#hackone{
    height: 170px;
    width: 350px;
    background-color: green;
    margin: 0;
    padding: 0;
}
#hacktwo{
    height: 170px;
    width: 350px;
    background-color: orange;
    margin: 0;
    padding: 0;
}
#jokes{
    height: 170px;
    width: 350px;
    margin: 0;
    padding: 0;
    background-color: hotpink;
}
#quiz{
    height: 170px;
    width: 350px;
    background-color: purple;
    margin: 0;
    padding: 0;
}
#footer{
    height: 130px;
    width: 1200px;
    background-color: yellow;
    margin: 0;
    padding: 0;
} 

#list{
    list-style-type: none;    
}
